* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  
}
body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, rgba(69, 160, 73, 0.8), rgba(76, 175, 80, 0.8));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #333;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.menu-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-button:hover {
  background-color: #45a049;
}
